* {
   -fx-54-background: #121212;
   -fx-54-primary: #ff0000;
   -fx-54-secondary: #5c5c5c;
   -fx-54-foreground: #00ff00;
}

#backButton {
    -fx-background-image: url('../../images/white/backButton.png');
}

#upvoteButton {
    -fx-background-image: url('../../images/white/upvoteButton.png');
}

#refreshButton {
    -fx-background-image: url('../../images/white/refreshButton.png');
}

#askButton {
    -fx-background-image: url('../../images/white/askButton.png');
}

#exportButton {
    -fx-background-image: url('../../images/white/exportButton.png');
}

#lectureModeButton {
    -fx-background-image: url('../../images/white/lecturerModeButton.png');
}

#feedbackPanelButton {
    -fx-background-image: url('../../images/white/feedbackPanelButton.png');
}

.date-picker > .arrow-button {
    -fx-background-image: url("../../images/white/datePickerIcon.png");
}
